{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create a new Listing</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <table>
                {{ form.as_table }}
            </table>
            <input class="px-3 py-2 btn-primary" type="submit" value="Save">
        </div>
    </form>
{% endblock %}